body {
    font-family: calibri, helvetica, sans-serif;
    font-size: 90%;
    color: black;
    background-color: #ffffff;
    /*margin: 1em;*/
    padding: 0;
}

/* By the way, this is a comment */

p {
    line-height: 1.5em;
}

h1 {
    color: white;
    background-color: #0f4f7a;
    font-size: 2em;
    margin: 0;

    margin-bottom: 0.5em;
    padding: 1em;
    /*font-style: italic;*/
    text-align: left;
    letter-spacing: 0.1em;
    /*
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
    */
}

h2 {
    color: black;
   /* background-color: #090;*/
    font-size: 1.5em;
    margin: 0;
    padding: 0.1em;
    padding-left: 1em;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}
dt{
    font-style: italic;
}
ol{
    list-style-type:lower-alpha;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
/*
li {
    color: #900;
    font-style: italic;
}
*/
table {
    background-color: #ccc;
}